<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170168176816-cni27t9d6mkg9mmidp62hhm0urm4vlfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170168176816-cni27t9d6mkg9mmidp62hhm0urm4vlfn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>170168176816-1ceff8a5ncf8v7roc20fskh1hn1cfdos.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuTg5PLuCi_b06UBifjpfVcCqPRZKbSJs</string>
	<key>GCM_SENDER_ID</key>
	<string>170168176816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GlixenTech.AdForestApp</string>
	<key>PROJECT_ID</key>
	<string>adforest-ab45e</string>
	<key>STORAGE_BUCKET</key>
	<string>adforest-ab45e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170168176816:ios:fc787efc4fd5673a</string>
	<key>DATABASE_URL</key>
	<string>https://adforest-ab45e.firebaseio.com</string>
</dict>
</plist>